.UsersItem {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}

.UsersItem:first-child {
  margin-top: 0;
}

.UsersItem:last-child {
  /* border-bottom: none; */
  margin-bottom: 0;
}

.UsersLink {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
}

.Line {
  display: inline-block;
  background-color: rgba(102, 102, 102, 0.3);
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
  margin-left: -30px;
}

.UsersImgContainer {
  margin-right: 10px;
  position: relative;
}
.UsersImg {
  display: block;
  border-radius: 50%;
}

.Status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.online {
  background-color: #34eb52;
}
.offline {
  background-color: #eb4034;
}

.UsersName {
  max-width: 90%;
}

.UsersTitle {
  font-size: 20px;
  font-weight: 500;
}

.UsersDate {
  position: absolute;
  right: 0;
  top: 0;
}

.UsersMessage {
  color: rgb(102, 102, 102, 0.8);
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .UsersImg {
    width: 35px;
    height: 35px;
  }
  .UsersTitle {
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (max-width: 576px) {
  .UsersTitle {
    font-size: 14px;
    font-weight: 400;
  }

  .UsersName {
    display: none;
  }
  .UsersDate {
    display: none;
  }

  .UsersLink {
    justify-content: center;
  }

  .Line {
    display: none;
  }
}
