.UsersItem {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
  cursor: pointer;
}

.UsersLink {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 100%;
}

.UsersImgContainer {
  margin-right: 10px;
  position: relative;
}
.UsersImg {
  border-radius: 15px;
}

.Status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.online {
  background-color: #34eb52;
}
.offline {
  background-color: #eb4034;
}

.UsersDate {
  position: absolute;
  right: 0;
}

.UsersMessage {
  color: rgb(102, 102, 102, 0.8);
}
