.ChatsHeader {
  width: 35%;
  border-right: 1px solid rgba(102, 102, 102, 0.3);
  padding-top: 20px;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}

.UserImgContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.UserImg {
  object-fit: cover;
  border-radius: 50%;
}

.InputFilterContainer {
  display: flex;
  justify-content: center;

  border: 1px solid rgba(102, 102, 102, 0.5);
  width: 100%;
  border-radius: 20px;
  padding: 0;
  outline: none;
  margin-bottom: 20px;
}
.SearchIcon {
  stroke: none;
  padding-top: 1px;
  margin-left: 15px;
  width: 20px;
}

.InputFilter {
  display: block;
  width: calc(100% - 35px);
  height: 100%;

  border: none;
  padding: 10px 0 10px 10px;
  border-radius: 20px;
  outline: none;
}
.InputFilter::placeholder {
  color: rgb(102, 102, 102);
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ChatsUsers {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.Title {
  margin: 0;
  margin-bottom: 40px;
  color: #85bccf;
  font-size: 25px;
  font-weight: 400;
}

.UsersList {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  position: relative;
}

/* -----------------MessagesContainer------------------ */

.Messages {
  height: calc(100vh - 180px);
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.MessagesContainer {
  width: 65%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding-top: 20px;
  position: relative;
}

.ActiveUserCntainer {
  position: relative;
  height: 100%;
  max-height: fit-content;
}

@media screen and (max-width: 767px) {
  .UserImg {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }

  .UserImgContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .ChatsUsers {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .Title {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .ChatsHeader {
    width: 25%;
  }

  .InputFilterContainer {
    display: none;
  }

  .MessagesContainer {
    width: 75%;
  }
}
