.ActiveUser {
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}

.ActiveUserInfo {
  display: flex;
  align-items: center;
}

.ActiveUserImgBox {
  position: relative;
  margin-right: 10px;
}
.ActiveUserImg {
  border-radius: 50%;
}

.Status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.online {
  background-color: #34eb52;
}
.offline {
  background-color: #eb4034;
}

.UsersDate {
  position: absolute;
  top: 0;
  right: 0;
}

.ActiveUserTitle {
  font-size: 23px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .ActiveUserImg {
    width: 35px;
    height: 35px;
  }
  .ActiveUserTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .ActiveUser {
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .ActiveUserTitle {
    font-size: 18px;
  }
}
