.SendMessageContainer {
  width: calc(100% - 30px);
  padding: 20px;
  border: 1px solid rgba(102, 102, 102, 0.3);
  position: absolute;
  bottom: 0;
  height: 40px;
}

.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.CustomInput {
  display: flex;
  align-items: center;
  width: calc(100% - 35px);
  position: relative;
  border: 1px solid rgba(102, 102, 102, 0.5);
  border-radius: 20px;
}

.Input {
  display: block;
  /* width: calc(100% - 50px); */
  border: none;
  padding: 15px 55px 15px 15px;
  background-color: transparent;
  outline: none;
}

.Input::placeholder {
  color: rgba(102, 102, 102, 0.5);
}

.Button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

.ButtonIco {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
}
